

.login-form {
    display: grid;
    grid-template-columns: 512px;
    justify-content: center;
    gap: 12px;
    padding-top: 20%;
}

.input-field {
    border-radius: 15px;
    border: 2px solid black;
    font-size: large;
    padding: 25px;
}

.action-button {
    background-color: #8ecae6;
    border-radius: 25px;
    border: none;
    width: 256px;
    height: 56px;
    margin: auto;
    font-size: medium;
}

.text-field {
    padding: 2px;
    text-align: center;
}