.nav-bar {
    display: flex;
    border-bottom: 1px solid;
}

.btn-link {
    width: 126px;
    height: 30px;
}

.action-btn {
    width: inherit;
    height: inherit; 
    border: none;
    background: none;
    font-size: medium;
}

.login-btn {
    margin-left: auto;
}
